body {
  background-color: #282c34;
  color: greenyellow;
}

button {
  margin: auto;
  display: block;
  margin: 32px auto;
  padding: 8px;
  font-family: 'Press Start 2P', cursive;
  font-size: 120%;
  background-color: greenyellow;
  color: black;
  border: 0;
}

textarea {
  height: 320px;
  width: 90%;
  resize: none;
  background-color: greenyellow;
  color: black;
  font-family: 'Press Start 2P', cursive;
  font-size: 120%;
  padding: 8px;
}

h4 {
  margin: 32px auto;
}
.App {
  text-align: center;
  height: 75vh;
  width: 40vw;
  margin: auto;
  padding: 16px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

